:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;

  .card {
    width: 120px;
    height: 180px;
    color: cadetblue;
    background: seashell;
    border-radius: 10px;
    border: 2px solid cadetblue;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    .top-left,
    .bottom-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      font-size: 1.3rem;
    }

    .top-left {
      top: 5px;
      left: 5px;
    }

    .bottom-right {
      bottom: 5px;
      right: 5px;
      transform: rotate(180deg);
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      height: 100%;
      width: 100%;
      text-align: center;
    }

    .value {
      font-weight: bold;
    }
  }

  *:disabled {
    background-color: silver;
  }
}

.stats {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controls {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.game-over {
  position: absolute;
}
